.char_img{
    width: 300px;
    object-fit: fill;
}

/* char.css */
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--header-bg-color);
}

.nav-link {
    margin: 0 10px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

.nav-link:hover {
    color: #ffcc00;
}
.disabled {
    pointer-events: none;  /* 클릭 방지 */
    opacity: 0.5;          /* 흐리게 표시 */
    cursor: not-allowed;   /* 마우스 커서 비활성화 */
  }
  